{% extends ':front:layout.html.twig' %}

{% block body %}

	<div class="row">
		<h3>Choisissez vos adresses de facturation et de livraison.</h3>
		<p>Vos adresses sont listées ci-dessous.</p>
	</div>

{% endblock %}